<!DOCTYPE html>
<html>
    <head>
        <title>processoafrica</title>
        <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='/stylesheet'> -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <nav class="navbar navbar-custom fixed-top navbar-expand-lg navbar-inverse bg-navbar">
            <div class="container-fluid">
                <div class="col-lg-3 col-md-4 col-sm-5 mb-sm-0 mb-2">
                    <ul class="nav navbar-nav  navbar-left">
                        <li><img src="/Process0 1.png" class="img-fluid"><!-- <a href="#">MySite.com</a> --></li>
                    </ul>

                </div>
                <!-- <div class="collapse navbar-collapse col-lg-6 col-md-6 col-sm-7">
                    <ul class="nav navbar-nav  navbar-left">
                        <li><img src="/Process0 1.png"><a href="#">MySite.com</a> </li>
                    </ul>
                </div>  -->
                <div class="collapse navbar-collapse col-lg-6 col-md-8">
                    <ul class="nav navbar-nav  navbar-center margin">
                        <li><img src="/envelope.png" class="img-fluid"><!-- <a href="#">MySite.com</a> --></li>
                        <li class="custom-text"><h4>processoafrica@gmail.com</h4></li>
                    </ul>
                </div> 
                <div class="collapse navbar-collapse col-lg-3">
                    <ul class="nav navbar-nav  navbar-right">
                        <li><img src="/phone-alt.png"><!-- <a href="#">MySite.com</a> --></li>
                        <li class="custom-text"><h5>08082717265</h5></li>
                    </ul>
                </div> 
                
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="nav navbar-nav navbar-right justify-content-end">
                        
                    </ul>
                </div>
            </div>
        </nav>
        
